:root {
  --main-bg-color: #242424;

  --text-color: #f5f5f5;

  --btn-bg-color: #303030;
  --btn-text-color: #ffffff;

  --card-bg-color: #303030;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}


body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #f5f5f5;
    --text-color: #0e0e0e;
    
    --btn-bg-color: #303030;
    --btn-text-color: #f5f5f5;

    --card-bg-color: #ebeaea;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #242424;
    --text-color: #f5f5f5;

    --btn-bg-color: #0e9780;
    --btn-text-color: #f7f7f7;

    --card-bg-color: #454549;
  }
}
